@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--dark-color);
}

@import "~bootstrap/scss/bootstrap";

:root {
  --primary-color: #811ac0;
  --primary-color-hov: #b448f7;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #f8f9fa;
  --dark-color: #212529;
}

h1, h3, h5, p, option, label {
  color: var(--light-color);
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--primary-color-hov);
  border-color: var(--primary-color-hov);
}

.btn-primary:active {
  background-color: var(--primary-color-hov);
  border-color: var(--primary-color-hov);
}

.btn-outline-primary {
  border-color: var(--primary-color);
  color: var(--light-color);
}

.btn-outline-primary:hover {
  background-color: var(--primary-color-hov);
  border-color: var(--primary-color-hov);
}
